html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background: #cccccc url('../img/geometry2.png');
	/* Background pattern from Subtle Patterns */
	font-family: 'Coda', cursive;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

h1 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 240;
}

/*

 * Styles for the deck of cards

 */

.deck {
	width: 600px;
	min-height: 600px;
	background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
  padding: 30px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin: 0 0 3em;
}

.deck .card {
	height: 115px;
	width: 115px;
	background: #2e3911;
	font-size: 0;
	color: #ffffff;
	border-radius: 8px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.disable {
	pointer-events: none;
	animation-name: shake;
	opacity: 0.9;
}

.deck .card.open {
	transform: rotateY(0);
	background: #74992e;;
	cursor: default;
}

.deck .card.show {
	font-size: 30px;
}

.deck .card.match {
	cursor: default;
	background: #02ccba;
	font-size: 30px;
}

/*

 * Styles for the Score Panel

 */

#score-panel {
	text-align: center;
	width: 345px;
	margin-bottom: 5px;
}

#score-panel .stars {
	margin: 0;
	padding: 0;
	display: inline-block;
	margin: 0 2px 0 0;
}

#score-panel .stars li {
	list-style: none;
	display: inline-block;
}

#score-panel .restart {
	float: right;
	cursor: pointer;
}

@media only screen and (max-width: 750px) {
	.deck .card {
		width: 75px;
		height: 75px;
		line-height: 75px;
	}
	.deck {
		width: 400px;
	}
}

@media only screen and (max-width: 460px) {
	.deck .card {
		width: 48px;
		height: 48px;
		line-height: 48px;
	}
	.deck {
		width: 240px;
	}

  #score-panel {
  	text-align: center;
  	width: 175px;
  	margin-bottom: 5px;
  }

}


@media only screen and (max-width: 200px) {
	.deck .card {
		width: 40px;
		height: 40px;
		line-height: 40px;
	}
	.deck {
		width: 200px;
	}

  h1 {
font-size: .9em;
	text-align: left;
width: 5px;  }

#score-panel {
  text-align: center;
  width: 100px;
  margin-bottom: 5px;
}

}


/*modal message*/

.modal {
	display: none;
	position: absolute;
	z-index: 99;
	left: 50;
	top: 50;
	width: 40%;
	height: 50%;
	overflow: auto;
	background: #fff;
	opacity: 1;
}

.modal-message {
	text-align: center;
	background-color: #fefefe;
	margin: 15% auto;
	padding: 20px;
}

.win-message {
	font-size: 30px;
	letter-spacing: 2px;
}
